name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Test Rust
        run: cargo test

      - name: Benchmark Rust
        run: cargo bench

      - name: Build Rust
        run: cargo build --release
